<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>javier</servlet-name>
        <servlet-class>ModelControl.javier</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sRecepcionSERVLET</servlet-name>
        <servlet-class>ModelControl.sRecepcionSERVLET</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sDiagnosticoSERVLET</servlet-name>
        <servlet-class>ModelControl.sDiagnosticoSERVLET</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pedidoVentaSERVLET</servlet-name>
        <servlet-class>ModelControl.pedidoVentaSERVLET</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>javier</servlet-name>
        <url-pattern>/javier</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sRecepcionSERVLET</servlet-name>
        <url-pattern>/sRecepcionSERVLET</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sDiagnosticoSERVLET</servlet-name>
        <url-pattern>/sDiagnosticoSERVLET</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pedidoVentaSERVLET</servlet-name>
        <url-pattern>/pedidoVentaSERVLET</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
